<div class="container">
	<div class="container-inner">
		<div class="inner-box">
			<div class="logo-and-slogan">
				<div class="box-logo">
					garbanzo
					<div id="rounded-phone-icon"></div>
				</div> <!-- box-logo -->
				<div class="box-slogan">Fix your finances, <br />fix your life!</div>
			</div> <!-- logo-and-slogan -->

			<div class="login">
				<form class="login-form" enctype="multipart/form-data" action="/login" method="POST">
					<label>Username</label>
					<input type="text" name="uname" placeholder="Username">
					<label>Password</label>
					<input type="password" name="_passw" placeholder="Type your password">
					<div class="login-last">
						<a href="/register">Create a New Account</a>
						<input type="submit" value="Go"> 
					</div>
				</form>
			</div> <!-- login -->
			<div class="download-app">
				<img src="/assets/img/ios_appstore_126x42.png">
				<img src="/assets/img/google_playstore_135x70.png">
			</div> <!-- download-app -->
		</div> <!-- inner-box -->
	</div>
</div>
