/* -------------------------------------------- *
 * styles.css
 * ----------
 * 
 * Garbanzo's global CSS classes
 * -------------------------------------------- */

/* Always start off by zero'ing out previous existing CSS rules */
html, body, div, 
h1, h2, h3, h4, h5, h6, 
p, pre,
a, img, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------------------- *
 * Global styles:
 *
 * These are used to set the stage for the rest
 * of the elements.
 * -------------------------------------------- */
html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	background-color: rgb( 230, 255, 242 );
	/*These are the rest of the colors*/
	width: 100%;
}

.assetized-logo {
	font-size: 2.2em;
	font-weight: bold;
	color: white;
	position: relative;
	left: 10px;
	top: -5px;
	font-family: 'Permanent Marker', cursive;
	text-align: left;
}

h1 { font-size: 3.0em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

header {
	width: 100%;
	z-index: 99;
	min-height: 50px;	
	height: 3%;  
	display: block;
	position: relative;
	overflow: hidden;
	color: white;
	font-family: 'Montserrat', serif;
	font-weight: bold;
	font-size: 0.8em;
	background: darkgreen;
	/*background-color: rgb( 152, 230, 152 );*/
}

header a {
	color: white;
}

header li {
	display: inline-block;
}

/*intro.css*/
* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	color: #333;
}

h1 {
	font-size: 1.6em;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	height: 100%;
	/*background-color: rgba( 152, 230, 152, 0.9 );*/
}

.container li:nth-child(1) {
	display: inline-block;
}


.container-inner {
	background-color: rgb( 152, 230, 152 );
	position: relative;
	width: 90%;
	height: 80%;
	min-height: 600px;
	margin-top: 10%;
	margin-left: 5%;
	text-align: center;
}

.slideshow-images li {
	list-style: none;
	list-style-type: none;
	width: 75%;
	padding: 0px;
	margin: 30px;
	position: relative;
	box-shadow: 20px 10px 10px #0d3300;
	/*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	*/
}

.slideshow-image li img { 
	width: 100%;
	opacity: 0.8;
	/*
	font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  filter: alpha(opacity=50); 
	*/
}

.slideshow-images li:nth-child(odd) {
	transform: rotate( 5deg );
	left: 30px;
	width: 78%;
}

.slideshow-images li:nth-child(even) {
	transform: rotate( 15deg );
	left: -30px;
}

.slideshow-images li:nth-child(3) {
	transform: rotate( -7deg );
	width: 90%;
}

.inner-box {
	width: 100%;
	min-width: 300px;
	height: 100%;
	padding: 10px;
}

.inner-box > div {
	width: 100%;
}

.inner-box .login {
	width: 100%;
}

.inner-box a {
	color: #333;
}

.inner-box .login form {
	width: 96%;
	text-align: left;
}

.login-last {
	width: 80%;
	margin: 0 auto;
	position: relative;
	height: 50px;
}

.login-last a {
	position: relative;
	top: 10px; 	
}

.inner-box .logo-and-slogan {
	margin-bottom: 20px;	
}

.inner-box .login {

}

.inner-box .login label {
	display: block;
	font-size: 1.0em;
	margin-bottom: 5px;
}

.inner-box .login input {
	display: block;
	font-size: 1.4em;
	margin-bottom: 30px;
	width: 94%;
	padding: 3%;
	font-family: "Montserrat", sans-serif;
	border: 0;	
}

.inner-box .login button, 
.inner-box .login input[type=submit] {
	background-color: #eee;
	transition: background-color 0.2s, color 0.2s;	
}

.inner-box .login button:hover ,
.inner-box .login input[type=submit]:hover {
	background-color: darkgreen;
	color: white;	
}

.inner-box .login input[type=submit] {
	display: inline-block;
	font-size: 1.1em;
	width: 40%;
	top: 0px;
	right: 0px;
	position: absolute;
	min-width: 150px;	
	border: 0px;
}


#rounded-phone-icon {
	display: inline-block;
	height: 80px;
	width: 50px; 
	position: relative;
	top: 20px;
	background-color: black;
	border-radius: 10px;	
	-moz-border-radius: 10px;	
	-gecko-border-radius: 10px;	
}

.box-logo {
	font-size: 3.5em;
	font-weight: bold;
	height: 120px;
	color: black;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.box-logo-icon {
	font-size: 3.5em;
	font-weight: bold;
	height: 120px;
	color: black;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.logo-white {
	color: white;
}
.logo-green {
	color: darkgreen;
}
.logo-black {
	color: black;
}

.box-slogan {
	font-size: 1.5em;
}

.col2 {
	top: 0px;
	left: 0px;
	width: 400px;
	min-width: 100px;
	height: 200px;
}

.video-preview {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid blue;
}

.download-app {
	text-align: center;
}

.download-app img {
	display: inline-block;
	margin: 5%;
}

footer {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 0.8em;
	position: relative;
	padding-bottom: 50px;
}

footer a {
	color: black;
}

.outer-box {
	display: none;
}

@media screen and (min-width: 701px) {
	html {
		background-color: red;
		background-color: rgb( 152, 230, 152 );
	}

	.container-inner {
		margin-top: 10%;
	}

	.login-last {
		width: 100%;
	}

	.box-logo {
		font-size: 2.7em;
	}

	.inner-box {
		z-index: 99;
		margin-top: 0px;
		width: 42%;
		min-width: 300px;
		height: 100%;
		padding: 10px;
		float: left; 
		position: fixed;
	}

	.inner-box a {
		font-size: 0.9em;
	}

	.inner-box .login input {
		border: 1px solid #ccc;
		transition: border 0.2s;
	}

	.inner-box .login input:focus {
		border: 1px solid #66ff33;
	}

	.outer-box {
		width: 50%;
		height: 100%;
		float: right;
		display: block;
		position: relative;
		top: -60px;
		z-index: 0;
	}	

	.outer-box img {
		width: 100%;	
	}

	footer {
		position: relative;
		margin-top: 100px;
		margin-left: 5%;
		text-align: left;
		top: -60px;
	}
}